.profile__edit-button {
  border: 1px solid white;
  padding: 11px;
  background-color: transparent;
  outline: none;
  background-image: url(../../../images/editpen.svg);
  background-size: cover;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 18px;
  align-self: center;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

@media screen and (max-width: 500px) {
  .profile__edit-button {
    padding: 8px;
    margin-left: 8px;
    margin-top: 21px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}
