.popup_opened {
visibility: visible;
}

.popup_opened.transition .popup__container {
  -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

