.profile {
    display: flex;
    margin: auto;
    margin-top: 40px;
    position: relative;
    max-width: 880px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

@media screen and (max-width: 900px) {
  .profile {
  max-width: 610px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }

}