.card__remove-button {
background-image: url(../../../images/Trash.svg);
background-size: cover;
position: absolute;
border: none;
outline: none;
background-color: transparent;
height: 19px;
width: 18px;
box-sizing: border-box;
margin-top: 20px;
justify-self: flex-end;
margin-right: 20px;
transition: ease-in-out 0.2s;
}

.card__remove-button:hover {
  opacity: 0.5;
}