.input {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-top: 16px;
  text-align: initial;
  width: 83.255814%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .input {
    max-width: 74.375vw;
    width: 100%;
  }
}
