.card__like-button {
  background-image: url(../../../images/like-button_disabled.svg);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;
  border: none;
  outline: none;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  padding: 11px;
  box-sizing: border-box;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button:active {
  opacity: 1;
  background-image: url(../../../images/liked.svg);
}