.popup__button-close {
  background-image: url(../../../images/Close-Icon.svg);
  width: 32px;
  height: 32px;
  border: 0;
  position: absolute;
  right: -40px;
  top: -40px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.popup__button-close:hover {
  opacity: 0.6;
}
