.popup__button-submit {
  background-color: black;
  color: white;
  border: 0;
  height: 50px;
  width: 358px;
  align-self: center;
  margin-top: 49px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.popup__button-submit:hover {
  opacity: 0.8;
}
