.profile__info {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 500px;
  height: 100%;
  margin-left: 30px;
  
}

@media screen and (max-width: 900px) {
  .profile__info {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .profile__info {
    text-align: center;
  }
}
